@using Microsoft.AspNetCore.Mvc.Rendering

<div id="header-control" class="d-flex justify-content-between">
    <div id="time" class="d-flex align-items-center">
        <div id="title">Inspection Monitoring</div>
        <div id="date">
            Thursday, Jan 01, 1970
        </div>
        <div id="current-time">
            00:00:00
        </div>
    </div>

    <div id="action" class="d-flex align-items-center">
        <div class="d-flex align-items-center" style="margin-right: 1.5em">
            <label for="select-model d-inline-block mr-5" style="margin-right: 10px;font-weight: bold">Model</label>
            <select id="select-model" class="form-select">
                <option value="" selected disabled>Choose Model</option>
                <option value="">954_PSA_Side</option>
                <option value="">954_Filler_Side</option>
            </select>
        </div>

        <button type="button" class="btn btn-clear-data" data-toggle="modal" data-target="#modelAutoRefresh" style="margin-right: 1.5em;color:#237BFE;background: none; border-color: #237BFE">
            <i class="fa fa-refresh" aria-hidden="true" style="margin-right: 5px;"></i> Auto Refresh
        </button>

        <div id="action-form-search">
            <button type="button" style="background: #00A3FF;border: none;" class="btn btn-primary px-4" data-toggle="modal" data-target="#modalSearch">
                <i class="fa fa-search" aria-hidden="true" style="margin-right: 5px;"></i> Search
            </button>

            <div class="modal fade" id="modalSearch" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl" role="document" style="min-width: 95rem">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title fw-bold" style="font-size: 18px;" id="exampleModalLabel">Search</h4>
                            <button type="button" class="btn close" data-dismiss="modal" aria-label="Close">
                                X
                            </button>
                        </div>

                        <div class="modal-body">
                            <div class="my-3 text-right">
                                <button class="btn btn-primary btn-search">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>