<div class="wrap-content" style="padding: 5px 10px;">
    <div class="wrap-chart">
        <div class="status-plc-system d-flex align-item-center my-1">
            <div class="system-status" style="margin-right: 50px;">
                <span id="label-system-status">System Status:</span>
                <span id="value-system-status">Running</span>
            </div>

            <div class="plc-status mb-2">
                <span id="label-plc-status">PLC Connect Status:</span>
                <span id="value-plc-status">Start</span>
            </div>
        </div>

        <div class="d-flex">
            <div class="d-flex flex-column" style="flex-basis: 50%">
                <div class="d-flex" style="margin-bottom: 5px;">
                    <div id="machine-1">
                        <div class="d-flex info">
                            <span class="" id="name-machine-1">Machine 1</span>
                            <span class="" id="status-connect-machine-1">
                                <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                                Connect
                            </span>
                        </div>
                        <h3>5.872</h3>
                        <span class="label-note">Inspection Quantity Total</span>
                        <div>
                            <canvas id="chart-machine-1" width="335" height="160"></canvas>
                        </div>
                    </div>
                    <div id="machine-2">
                        <div class="d-flex info">
                            <span class="" id="name-machine-2">Machine 1</span>
                            <span class="" id="status-connect-machine-2">
                                <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                                Connect
                            </span>
                        </div>
                        <h3>5.770</h3>
                        <span class="label-note">Inspection Quantity Total</span>
                        <div>
                            <canvas id="chart-machine-2" width="335" height="160"></canvas>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column" id="error-detect">
                    <div>
                        <h3>Error detect</h3>
                        <span>Total <b>30</b> detect</span>
                    </div>
                    <div>
                        <canvas id="chart-error-detect" style="width: 250px;"></canvas>
                    </div>
                </div>
            </div>

            <div class="d-flex flex-column" style="flex-basis: 50%">
                <div id="yield-today">
                    <h3>Yield Total</h3>
                    <span>In the last 7 days</span>
                    <div>
                        <canvas id="chart-yield-today" width="302" height="215" style="height: 225px;"></canvas>
                    </div>
                </div>
                <div id="defect-rate">
                    <h3>Defect Rate</h3>
                    <span>In the last 7 days</span>
                    <div>
                        <canvas id="chart-defect-rate" style="height: 238px !important;"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="log">
        <div class="d-flex justify-content-between align-items-center" style="margin: 7px 0px;">
            <div>
                <h3 id="title-log">
                    Result log
                </h3>
            </div>
            <div>
                <label for="filter-result" style="display: inline-block;margin-right: 5px;font-size: 18px;font-weight:700">Filter by result</label>
                <select id="filter-result" style="font-size: 20px;width: 9em;">
                    <option>All</option>
                    <option>OK</option>
                    <option>NG</option>
                </select>
            </div>
        </div>

        <div>
            <table class="table table-bordered">
                <thead style="background: #D9E2FF;margin-top: 4px">
                    <tr style="font-weight: bold;text-align: center">
                        <th scope="col" style="padding-left: 2px;">No</th>
                        <th scope="col">Date</th>
                        <th scope="col">Time</th>
                        <th scope="col">Machine</th>
                        <th scope="col">Model</th>
                        <th scope="col">Module</th>
                        <th scope="col">Result</th>
                    </tr>
                </thead>
                <tbody>
                    @for(var i = 1; i <= 5; i++)
                    {
                        <tr class="text-center">
                            <th scope="row">@i</th>
                            <td>2024/12/11</td>
                            <td>13:49:11</td>
                            <td>@(i % 2 == 0 ? "WLC" : "DMC")</td>
                            <td>953_PSA_Side</td>
                            <td>01</td>
                            <td class="@(i % 2 == 0 ? "text-danger" : "text-success")" style="font-weight: 700">@(i % 2 == 0 ? "NG" : "OK")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/chart.js"></script>
    <script src="~/js/chartjs-plugin-datalabels.min.js"></script>
    <script src="~/lib/microsoft-signalr/signalr.min.js"></script>
    <script src="~/js/home.js"></script>
}