$color_black: #000000;
$color_2: #667085;
$color_3: #49A31D;
$color_4: #E4491D;
$color_5: #4F5AED;
$color_3C3C3C: #3C3C3C;

.wrap-content {

    .wrap-chart {
        .status-plc-system {
            #label-system-status {
                color: #3C3C3C;
                font-size: 14px;
                font-weight: 700;
            }

            #value-system-status {
                margin-left: 10px;
                padding: 3px 15px;
                border-radius: 10px;
                background: #49A31D;
                color: white;
                font-weight: 500;
            }

            #label-plc-status {
                color: #3C3C3C;
                font-size: 14px;
                font-weight: 700;
            }

            #value-plc-status {
                margin-left: 10px;
                padding: 3px 15px;
                border-radius: 10px;
                background: #49A31D;
                color: white;
                font-weight: 500;
            }
        }

        #machine-1 {
            margin-right: 10px;
            border: 1px solid #4F5AED;
            border-radius: 3px;
            padding: 10px;
            flex-basis: 49%;

            .info {
                justify-content: space-between;
                align-items: center;

                #name-machine-1 {
                    color: #545454;
                    font-size: 16px;
                    font-weight: 600;
                }

                #status-connect-machine-1 {
                    color: #767676;
                    font-size: 13px;

                    i {
                        color: #24E505;
                    }
                }
            }

            h3 {
                color: #0b1354;
                font-size: 30px;
                margin-top: 10px;
                margin-bottom: 15px;
                font-weight: bold;
            }

            span.label-note {
                color: #4F4F4F;
                font-size: 14px;
                display: inline-block;
                width: 100%;
                padding-bottom: 10px;
                border-bottom: 1px solid #ECECEC;
                margin-bottom: 15px;
            }
        }

        #machine-2 {
            border: 1px solid #4F5AED;
            border-radius: 3px;
            padding: 10px;
            flex-basis: 49%;

            .info {
                justify-content: space-between;
                align-items: center;

                #name-machine-2 {
                    color: #545454;
                    font-size: 16px;
                    font-weight: 600;
                }

                #status-connect-machine-2 {
                    color: #767676;
                    font-size: 13px;

                    i {
                        color: #24E505;
                    }
                }
            }

            h3 {
                color: #0b1354;
                font-size: 30px;
                margin-top: 10px;
                margin-bottom: 15px;
                font-weight: bold;
            }

            span.label-note {
                color: #4F4F4F;
                font-size: 14px;
                display: inline-block;
                width: 100%;
                padding-bottom: 10px;
                border-bottom: 1px solid #ECECEC;
                margin-bottom: 15px;
            }
        }

        #yield-today {
            border: 1px solid #4F5AED;
            padding: 10px;
            border-radius: 3px;
            margin-bottom: 5px;

            h3 {
                color: #666666;
                font-size: 16px;
                font-weight: 700;
                margin-bottom: 5px;
            }

            span {
                color: #4f4f4f;
                display: inline-block;
                width: 100%;
                padding-bottom: 10px;
                border-bottom: 1px solid #ECECEC;
            }
        }

        #defect-rate {
            border: 1px solid #4F5AED;
            padding: 10px;
            border-radius: 3px;
            margin-bottom: 4px;

            h3 {
                color: #666666;
                font-size: 16px;
                font-weight: 700;
                margin-bottom: 5px;
            }

            span {
                color: #4f4f4f;
                display: inline-block;
                width: 100%;
                padding-bottom: 10px;
                border-bottom: 1px solid #ECECEC;
                margin-bottom: 15px;
            }
        }

        #error-detect {
            padding: 10px;
            width: 99%;
            border-radius: 3px;
            border: 1px solid #4F5AED;

            h3 {
                color: #000000;
                font-weight: 700;
                font-size: 17px;
            }

            span {
                display: block;
                margin-top: 10px;
                color: #767676;

                b {
                    color: #385083;
                    font-weight: 700;
                    font-size: 24px;
                }
            }
        }
    }

    .log {
        border: 1px solid #4F5AED;
        padding: 10px;
        border-radius: 3px;

        #title-log {
            color: black;
            font-weight: 700;
            font-size: 18px;
        }

        .title-machine {
            font-size: 20px;
            color: black;
            font-weight: 700;
        }

        .title-percent-machine {
            h4, h5 {
                font-size: 16px;
                color: black;
                font-weight: 700;
            }

            .mc1 {
            }

            .mc2 {
            }
        }

        table {
            th, td {
                padding-left: 0;
            }
        }
    }
}
